@model AttendanceProject.Models.AttMachineTableRefrence

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AttMachineTableRefrence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttMachine.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttMachine.MachineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttTableDefination.ColumnDefination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttTableDefination.ColumnDefination)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
