@model AttendanceProject.Models.AttendanceLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AttendanceLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeFunction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeFunction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunctionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunctionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttMachineTableRefrence.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttMachineTableRefrence.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.ReferenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.ReferenceNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
