@model IEnumerable<AttendanceProject.Models.AttendanceLog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Attendance</h2>


<a class="btn btn-default" href="~/AttendanceSheets"><span calss="fa fa-upload"></span> Upload Attendance</a>

<table class="table" id="table33">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Employee.ReferenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFunction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunctionID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AttMachineTableRefrence.MachineID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileRefrence.FileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttMachineTableRefrence.AttTableDefination.Senario.SenarioName)
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Employee.ReferenceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeFunction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FunctionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttMachineTableRefrence.MachineID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileRefrence.FileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttMachineTableRefrence.AttTableDefination.Senario.SenarioName)
                </td>
            </tr>
        }
    </tbody>



</table>
